<!doctype html>
<html>
<head>
  <title>Assignment 2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css"></head>
  <link rel="stylesheet" href="/css/leaflet.css"></head>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/entry.css" />
  <script src="https://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Antic+Slab|Port+Lligat+Slab|Slabo+27px' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,200italic,300italic,400italic,600italic' rel='stylesheet' type='text/css'>

</head>

<body>
    {{{body}}}
</body>
</html>
